{% extends 'base.html '%}

{% block header %}
    <h1 id="selector"> {% block title %}Select Race {% endblock%} <button onclick="kartMove({{x}},{{y}})">Click me</button></h1>
{% endblock %}

{% block content%}
    <select>
    {% for race in races %}
        <option value="{{race['id']}}">{{race['race_name']}}</option>
    {% endfor %}
    </select>
        <div class = "wrapper"></div>
        
        {% for kartid in x.keys() %}
        
            <style> 
                #{{kartid|replace(' ','')}} {
                    width: 40px;
                    height: 40px;
                    background: cyan;
                    top: 1px;
                    left: 1px;
                }

            </style>
            
                <div id = "{{kartid|replace(' ','')}}">
                    
                    <p> {{kartid}}</p>
                </div>
        {% endfor %}
        </div>
    




<script type="text/javascript">

    function myFunc() {
        console.log("butts")
    }

    async function kartMove(objX, objY) {
        
        totalFrames =  (Object.keys((objX[Object.keys(objX)[0]])).length);
        
        var id = null;

        clearInterval(id);
        id = setInterval(frame, 10);
        iter =0;

        function frame() {
            console.log(iter);
            
            if(iter >= totalFrames)
            {
            clearInterval(id);
            }
            else
            {
            
            for (let key in objX){
                console.log(objX[key][iter]);
                console.log(key.replace(/\s+/g, ''));
                elem = document.getElementById(key.replace(/\s+/g, ''));
                console.log(elem);
                elem.style.top = (objY[key][iter] * 40)+"px";
                elem.style.left = (objX[key][iter] * 20)+"px";
                elem.style.position = "absolute";
                elem.style.background = "green";
            }
            iter++;
            }
        }
}
</script>

{% endblock %}