{% extends 'base.html '%}

{% block header %}
    <h1> {% block title %}Select Race {% endblock%}</h1>
{% endblock %}

{% block content%}
    <select>
    {% for race in races %}
        <option value="{{race['id']}}">{{race['race_name']}}</option>
    {% endfor %}
    </select>
        <div class = "wrapper"></div>
        
        {% for kartid in x.keys() %}
        
            <style> 
                #{{kartid|replace(' ','')}} {
                    width: 40px;
                    height: 40px;
                    background: cyan;
                }

            </style>
            
                <div id = "{{kartid|replace(' ','')}}">
                    
                    <p> {{kartid}}</p>
                </div>
        {% endfor %}
        </div>
    
{% endblock %}