{% extends 'base.html '%}

{% block header %}
    <h1 id="selector"> {% block title %}Select Race {% endblock%} <button onclick="kartMove({{x}},{{y}})">Click me</button></h1>
{% endblock %}

{% block content%}
    
    <select>
    {% for race in races %}
        <option value="{{race['id']}}">{{race['race_name']}}</option>
    {% endfor %}
    </select>
        <style>
        section.content{
            height: {{qualy|length*40+100}}px;
        }
         </style>
        <div id="wrap1" class="wrapper"></div>
        
        
        {% for kartid in qualy %}
        
            <style> 
                #{{kartid[0]|replace(' ','')}} {
                    width: 0px;
                    height: 0px;
                    position: relative;
                    top: {{kartid[1]*40}}px;
                    left: 20px;
                }

            </style>
            
                <div id = "{{kartid[0]|replace(' ','')}}">
                
                    <img src="../static/Kart Icons/{{karts[kartid[0]]}}.png" width="40" height="40">
                    
                </div>
        {% endfor %}
        </div>
    




<script type="text/javascript">

    function myFunc() {
        console.log("butts")
    }

    async function kartMove(objX, objY) {
        
        totalFrames =  (Object.keys((objX[Object.keys(objX)[0]])).length);
        totalWidth = document.getElementById("wrap1").offsetWidth-40;
        totalLaps = 0;
        for (let key in objX){
            
            if (objX[key][totalFrames-1] > totalLaps){
                totalLaps=objX[key][totalFrames-1];

            }
        }
        
        console.log(totalLaps);
        
        var id = null;

        clearInterval(id);
        id = setInterval(frame, 10);
        iter =0;

        function frame() {
            //console.log(iter);
            
            if(iter >= totalFrames)
            {
            clearInterval(id);
            }
            else
            {
            
            for (let key in objX){
                //console.log(objX[key][iter]);
                //console.log(key.replace(/\s+/g, ''));
                elem = document.getElementById(key.replace(/\s+/g, ''));
                //console.log(elem);
                elem.style.top = (objY[key][iter] * 40)+"px";
                elem.style.left = (objX[key][iter] * totalWidth/totalLaps)+"px";
                
            }
            iter++;
            }
        }
}
</script>

{% endblock %}